header {
  width: 100%;
  color: $white;
  background-color: $blue-grey-900;

  .container {
    display: flex;
    justify-content: space-between;
    height: 2.5em;
    line-height: 2.5em;
  }

  ul {
    display: flex;
    justify-content: flex-end;
    margin: 0 -0.7em;
    list-style: none;
    padding: 0;
  }

  li {
    display: inline-block;
  }

  a {
    text-decoration: none;
    padding: 0 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $blue-grey-400;
  }
  svg {
    margin-right: 0.4em;
  }

  p {
    font-size: 1.2em;
    font-weight: bold;
    margin: 0;
  }
}
